<div class="container-home-page">
  <div class="title-container">
    <h2>Medals per Country</h2>
  </div>

  <div class="counter-container">
    <div class="jo-container">
      <p>Number of JOs</p>
      <p>{{ joCount }}</p>
    </div>
    <div class="medals-container">
      <p>Number of Countries</p>
      <p>{{ (olympics$ | async).length }}</p>
    </div>
  </div>

  <div class="graph-container" style="display: block; width: 400px">
    <canvas baseChart [data]="pieChartData" [type]="pieChartType"></canvas>
  </div>
</div>
